
#contenedor{
    background: black;
    padding-top: 5px;
    margin-top: 100px;
    width: 150px;
    height: 250px;
    border-radius: 10px;
}

.boton{
    margin: auto;
   padding: 5px ;
   }
.columnasemaforo{
    background: black;
    width: 30px;
    height: 250px;
}
.piesemaforo{
    background: black;
    width: 75px;
    height: 30px;
}